/* shared style  */
* {
    font-family: 'Mulish', sans-serif;
}

header {
    width: 78vw;
    margin: 0px auto;
}


/* banner-section style */

.banner-section {
    border-radius: 1rem;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    background-position: center;
    color: #fff;
}

.banner-section-title {
    padding-top: 105px;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner-section-description {
    margin: 0px auto;
    width: 676px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.banner-input-feild {
    padding: 1rem 0px;
    margin: 3rem 205px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input-feild input {
    padding: 1.2rem 1rem;
    margin-right: 0.8rem;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    width: 150px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 1.25rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    width: 150px;
}






@media screen and (max-width:600px) {
    header {
        width: 88vw;
    }

    .banner-section-title {
        padding-top: 32px;
        font-size: 1.5rem;
    }

    .banner-section-description {
        margin: 0px auto;
        width: 350px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .banner-input-feild {
        display: flex;
        width: 290px;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
        margin: 20px auto;
    }

    .banner-input-feild input {
        width: 255px;
    }

    .btn-primary{
        width: 285px;
    }


}