/* shared style  */
* {
    font-family: 'Mulish', sans-serif;
}

header,
main {
    width: 78vw;
    margin: 0px auto;
}


/* banner-section style */

.banner-section {
    border-radius: 1rem;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    background-position: center;
    color: #fff;
}

.banner-section-title {
    padding-top: 105px;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.banner-section-description {
    margin: 0px auto;
    width: 676px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.banner-input-feild {
    padding: 1rem 0px;
    margin: 3rem 205px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input-feild input {
    padding: 1.2rem 1rem;
    margin-right: 0.8rem;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    width: 150px;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 1.25rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    width: 150px;
}

/* Main section style start */
/* Popular tour section style */
.popular-tour-section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.popular-tour-description h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.popular-tour-description p,
.popular-tour-description ul>li,
.destination-section p,
.subscribe-section-description p,
.footer-description {
    width: 560px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.popular-tour-description ul>li {
    width: 500px;
    margin-bottom: 1rem;
}

.common-button-style {
    padding: 0.8rem 2.2rem;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 20px;
}


/* Destination section style */
.destination-section,
.why-choose-us {
    text-align: center;
    margin-top: 100px;
}

.destination-section h1,
.why-choose-us h1 {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 0px;
}

.destination-section p,
.why-choose-us p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    margin: 0px auto;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.destination-section-images-row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}


.destination-section-images-row1 img,
.destination-section-images-row3 img {
    width: 100%;
    height: 300px;
}

.destination-section-images-row2 {
    margin-top: 1.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1.34fr 1.68fr 0.98fr;
}

.destination-section-images-row2 img {
    width: 100%;
    height: 286px;
}

.destination-section-images-row3 {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1.7fr 2.3fr;
    gap: 1.5rem;
}

.text-over-image {
    position: relative;
}

.text-centered {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* our-services-section */
.our-services-section {
    height: 530px;
    margin: 85px auto;
    background: rgba(2, 2, 29, 0.05);
    border-radius: 15px;
}

.our-services-section-description h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 50px;
}

.our-services-section-description p {
    font-size: 1rem;
    font-weight: 400;
}

.our-services-section-description {
    width: 440px;
    text-align: center;
    margin: 0px auto;
}

.services-card-section {
    margin:50px 100px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 200px;
    height: 220px;
    border-radius: 15px;
    background: #FFF;
    text-align: center;
}

.card img{
    margin: 20px 0px 0px 0px;
}

.card h4 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0px;
}

.card p {
    font-size: 1.1rem;
    font-weight: 400;
    color: #5A5A5D;
}

.card1-img{
    height: 50px;
    width: 50px;
}




/* why-choose-us section style */
.why-choose-us-row1 {
    display: flex;
    gap: 1.5rem;
    text-align: left;
}

.why-choose-us-row1-col {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem 3.5rem 0rem 2rem;
}

.diffrent-bg-color {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.why-choose-us-row1-col img {
    width: 74px;
    height: 74px;
    /* padding-left: 2.5rem;
    padding-top: 2rem; */
}

.why-choose-us-row1-col h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    /* padding-left: 2.5rem; */
}

.why-choose-us-row1-col p {
    width: 486px;
    color: #5A5A5D;
}

.why-choose-us-row2 {
    margin-top: 1.5rem;
    text-align: left;
    display: flex;
    justify-content: center;

}

.why-choose-us-row2 img,
.why-choose-us-row2 h3 {
    padding-left: 2.5rem;
}



/* subscribe-section Style */
.subscribe-section {
    display: grid;
    grid-template-columns: 1.7fr 2.3fr;
    margin-top: 100px;
    margin-bottom: 0px;
    gap: 1.5rem;
    height: 425px;

}

.subscribe-section-description {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    padding-top: 20px;
    height: 360px;
}

.subscribe-section-description h1 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.subscribe-section-description p {
    color: #5A5A5D;
    width: 350px;
}

.subscribe-section-description h3 {
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.subscribe-section-description input {
    width: 96%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-bottom: 1rem;
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 1rem;
}

.subscribe-section button {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 10px;
}


.subscribe-section-image img {
    position: relative;
}

.save-up-75 {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 1rem;
    background: #FF5400;
    text-align: center;
    color: #FFF;
    position: relative;
    top: -200px;
    right: -335px;
}

.save-up-75 p {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 25px;
    margin-bottom: 0px;
}

.save-up-75 h1 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0px;
}



/* footer section style start */
footer {
    margin-top: 100px;
    width: 100vw;
    height: 502px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
}

.footer-title {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

.footer-title h1 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.color-orange {
    color: #FF5400;
}

.footer-description {
    width: 769px;
    color: #5A5A5D;
    margin: 0px auto;
}

.footer-site-link-icon img {
    height: 1.75rem;

}

.footer-site-link-icon {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 2rem 0rem 3.1rem 0rem;
}

.hr-line {
    margin: 0px auto;
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.all-right {
    color: #131318;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 3rem;
}











@media screen and (max-width:600px) {

    /* Header section Responsive style */
    header,
    main {
        width: 88vw;
    }

    .banner-section{
        height: 620px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-section-title {
        padding-top: 32px;
        font-size: 1.5rem;
    }

    .banner-section-description {
        margin: 0px auto;
        width: 330px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .banner-input-feild {
        display: flex;
        width: 290px;
        padding: 16px;
        flex-direction: column;
        gap: 16px;
        margin: 40px auto;
    }

    .banner-input-feild input {
        width: 255px;
    }

    .btn-primary {
        width: 285px;
    }

    /* Main section Responsive style */
    /* Popular tour section */

    .popular-tour-section {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1.5rem;
    }

    .popular-tour-description h1,
    .destination-section h1,
    .why-choose-us h1 {
        font-size: 1.5rem;
    }

    .popular-tour-description p,
    .popular-tour-description ul>li,
    .destination-section p,
    .why-choose-us p {
        width: 100%;
    }


    /* our-services-section responsive style */
    .our-services-section{
        height: 1460px;

    }

    .services-card-section {
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;

    }

    .card {
        width: 250px;
        height: 270px;
    }

    .card img{
        margin: 50px 0px 0px 0px;
    }

    .our-services-section-description{
      width: 300px;
    }

    .our-services-section-description h1{
      font-size: 1.5rem;
    }

    .our-services-section{
        margin: 3rem auto;
    }

















    /* destination-section style */
    .destination-section,
    .why-choose-us,
    .why-choose-us-row2 {
        margin-top: 1.5rem;
    }

    .destination-section p,
    .why-choose-us p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .destination-section-images-row1,
    .destination-section-images-row2,
    .destination-section-images-row3,
    .subscribe-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    .destination-section-images-row2,
    .destination-section-images-row3 {
        margin-top: 1rem;
    }

    /* why-choose-us Responsive style */

    .why-choose-us-row1 {
        flex-direction: column;
        gap: 1rem;
    }

    .why-choose-us-row1-col {
        width: 92%;
        height: 340px;
        padding: 1rem 0rem 1rem 1rem;
        margin: 0px auto;
    }

    .why-choose-us-row1-col p {
        width: 280px;
    }

    .why-choose-us-row2 img,
    .why-choose-us-row2 h3,
    .why-choose-us-row1 img,
    .why-choose-us-row1 h3 {
        padding-left: 1rem;
    }

    /* subscribe-section responsive style */
    .subscribe-section {
        margin-top: 2.5rem;
        height: 790px;
    }

    .subscribe-section-description {
        width: 75%;
    }

    .subscribe-section-image img {
        width: 99%;
        height: 300px;
    }

    .subscribe-section-description p {
        width: 250px;
    }

    .save-up-75 {
        width: 214.023px;
        height: 79.268px;
        top: -135px;
        right: -118px;
    }

    .save-up-75 p {
        font-size: 1rem;
        padding-top: 15px;
    }

    .save-up-75 h1 {
        font-size: 1.3rem;
    }

    /* Responsive footer style start*/
    footer {
        margin-top: 1.5rem;
        height: 310px;
        ;
    }

    .footer-title {
        padding-top: 10px;
    }

    .footer-title img {
        width: 28.724px;
        height: 32.516px;
    }

    .footer-title h1 {
        font-size: 1.3rem;
    }

    .footer-description {
        width: 287px;
        font-size: 14px;
    }

    .footer-site-link-icon {
        margin: 1rem 0px;
    }

    .all-right {
        margin-top: 1.5rem;
        font-size: 14px;
    }

    .hr-line {
        width: 335px;
    }
}